/*Cascada*/
/*p{
    color: red;
}

h1{
    color: blue;
}

main{
    background-color: green;
}

body{
    background-color: black;
}

p{
    color: white;
}

h1{
    color: pink;
}

main{
    background-color: yellowgreen;
}

body{
    background-color: white;
}*/

/*herencia*/
/*
p{
    background-color: yellow;
    color: white;
}

a{
color: inherit;
}
*/
.clase{ /*peso de 10*/
    color: lawngreen;
}

#identificador{ /*peso de 100*/
    color: lightcoral;
}

p{
    color:lawngreen !important;
}